#body-style {
    background-color: #F7F5F2;
}

#search-section {
    text-align: center; 
    background-image: url('./images/spencer-davis-vJsj-hgOEG0-unsplash.jpg');
    background-size: cover;
    background-position: top;
    height:500px;
    padding-top: 100px;
    color: #E8F9FD;
}

#search-section form {
    max-width: 500px;
    margin: 30px auto;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

#background-side-img {
    background-image: url('./images/dan-gold-E6HjQaB7UEA-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

#zomato-introduction {
    margin-top: 50px;
    height: 500px;
    text-align: center;    
    background-color: white;
}

#zomato-introduction div {
    padding: 150px 50px;
}

#footer {
    background-color: black;
    color: white;
    margin-top: 50px;
}

#footer ul {
    list-style-type:none;
}

#footer h6 {
    margin-top: 25px;
}

#footer i {
    margin-right: 7px;
}